html{
    font-size: 62.%;
    box-sizing: border-box;
}
    *, *:before, *:after{
        box-sizing: inherit;
    }

body{
   font-size: 16px; 
}

.titulo{
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Indie Flower', cursive;
}

.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}
.navBg{
    background-color: #657275;

}
.menu-navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-navegacion a{
    padding: 1rem;
    color: #ebe68d;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.menu-navegacion a:hover{
    background-color: #17181f;
}

@media (min-width: 768px){ 
    .menu-navegacion{
        flex-direction:row;
       
    }
}
.hero{
    background-image: url(../sources/img/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
}